<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Favorite Food</title>
  </head>

  <body>
    <h1>Favorite Food</h1>

    <form method="POST" action="/checkout">
      <p>Item: <input type="text" name="item"></p>
      <input type="submit">
    </form>

  </body>
</html>
